fastapi
uvicorn[standard]
easyocr
pillow
pytesseract
python-multipart
chromadb
groq
PyMuPDF>=1.22.5                   # fitz for PDF text extraction
sentence-transformers     # for your embedding model
